* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: black;
}

#title {
    margin: 1%;
    font-family: 游明朝;
    color: rgb(255, 255, 255);
    text-align: center;
}

#video-wrap {
    text-align: center;
}

video {
    height: 100%;
    object-fit: cover;
}